.idea/
build
install
log
kaggle.json
.devcontainer/docker-compose.yml
.devcontainer/zed.Dockerfile
.devcontainer/ros2_ws.Dockerfile
.vscode/settings.json
.vscode/c_cpp_properties.json
**/__pycache__/
*.msg
*.srv
.venv/*
wandb/
*.onnx
*.svo2
*.pt
./scrum/planningDesign/shortHorzion/build
./scrum/planningDesign/shortHorzion/install
./scrum/planningDesign/shortHorzion/log
**/CMakeFiles*
**/cmake_build*