[submodule "src/hardware_drivers/CanTalk"]
	path = src/hardware_drivers/CanTalk
	url = https://github.com/UOA-FSAE/CanTalk.git
	branch = nightly
[submodule "ROS2-protobuff-compiler"]
	path = ROS2-protobuff-compiler
	url = https://github.com/UOA-FSAE/ROS2-protobuff-compiler.git
	branch = trunk
	
[submodule "src/fs_msgs"]
	path = fs_msgs
	url = git@github.com:FS-Driverless/fs_msgs.git
	branch = ros2
