<?xml version='1.0'?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

	<!--robot name-->
	<xacro:property name='robot_name' value='moa23'/>
	<!-- kingpin dimensions-->
	<xacro:property name='kingpin_radius' value='0.003175'/>
	<xacro:property name='kingpin_length' value='0.038213'/>
	<!-- steering angles based on ackerman steering-->
	<xacro:property name='steering_in' value='${25*pi/180}'/>
	<xacro:property name='steering_out' value='${38*pi/180}'/>
	
</robot>
