<?xml version='1.0'?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!--wheel macro-->
    <xacro:macro name="tyre_link" params="name *origin">
        <link name="${name}">
            <visual>
                <xacro:insert_block name='origin'/>
                <geometry>
                    <mesh filename='package://moa_description/meshes/wheel.stl'/>
                </geometry>
                <material name='black'>
                    <color rgba='0 0 0 1'/>
                </material> 
            </visual>

            <inertial>
                <!-- <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/> -->
                <mass value="5.0"/>
                <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0"/>
            </inertial>

            <collision>
                <xacro:insert_block name='origin'/>
                <geometry>
                    <mesh filename='package://moa_description/meshes/wheel.stl'/>
                </geometry>
            </collision>
        </link> 
    </xacro:macro> 

    <!--kingpin macro-->
    <xacro:macro name='kingpin_link' params='name *origin'>
        <link name="${name}">
            <visual>
                <xacro:insert_block name='origin'/>
                <geometry>
                    <cylinder radius='${kingpin_radius}' length='${kingpin_length}'/>
                </geometry>
            </visual>
        </link>
    </xacro:macro>

</robot>