<?xml version='1.0'?>
<robot name="robot_name" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- Contestants and stuff -->
    <xacro:include filename="$(find moa_description)/urdf/const.xacro" />
    <xacro:include filename="$(find moa_description)/urdf/macro.xacro" />

    <!-- links and joints -->
    <xacro:include filename="$(find moa_description)/urdf/links.xacro" />
    <xacro:include filename="$(find moa_description)/urdf/joints.xacro" />

    <!-- camera urdf -->
    <xacro:include filename='/ws/src/hardware_drivers/zed-ros2-wrapper/zed_wrapper/urdf/zed_descr.urdf.xacro'/>

</robot>