<?xml version='1.0'?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

<!--WHERE THERE IS 'ABC' IT MEANS THE VALUE OR FIELD IS NOT DETERMINED YET-->

    <!--base link-->
    <link name='base'/>

    <!--chassis link-->
    <link name='chassis'>
        <visual>
            <geometry>
                <mesh filename='$ABC'/>
            </geometry>
            <origin  xyz='ABC' rpy='ABC'/>
        </visual>
    </link>
    
    <!--Wheel/Tyre link-->
    <xacro:tyre_link name='front_right_wheel' mesh_file='package://moa_description/urdf/meshes/M023_Wheel.stl' 
                     radius='ABC'>
    </xacro:tyre_link>

    <xacro:tyre_link name='front_left_wheel' mesh_file='package://moa_description/urdf/meshes/M023_Wheel.stl' 
                     radius='ABC'>
    </xacro:tyre_link>

    <xacro:tyre_link name='rear_right_wheel' mesh_file='package://moa_description/urdf/meshes/M023_Wheel.stl' 
                     radius='ABC'>
    </xacro:tyre_link>

    <xacro:tyre_link name='rear_left_wheel' mesh_file='package://moa_description/urdf/meshes/M023_Wheel.stl' 
                     radius='ABC'>
    </xacro:tyre_link>

    <!--kingpin link-->
    <xacro:kingpin_link name='front_right_pin'>
    </xacro:kingpin_link>

    <xacro:kingpin_link name='front_left_pin'>
    </xacro:kingpin_link>

</robot>
