action-tutorials-interfaces==0.20.3
action-tutorials-py==0.20.3
ament-cmake-test==1.3.3
ament-copyright==0.12.5
ament-cppcheck==0.12.5
ament-cpplint==0.12.5
ament-flake8==0.12.5
ament-lint==0.12.5
ament-lint-cmake==0.12.5
ament-pep257==0.12.5
ament-uncrustify==0.12.5
ament-xmllint==0.12.5
apturl==0.5.2
Brlapi==0.8.3
catkin-pkg-modules==0.5.2
command-not-found==0.3
cupshelpers==1.0
dbus-python==1.2.18
defer==1.0.6
demo-nodes-py==0.20.3
distro-info===1.1build1
duplicity==0.8.21
examples-rclpy-executors==0.15.1
examples-rclpy-minimal-action-client==0.15.1
examples-rclpy-minimal-action-server==0.15.1
examples-rclpy-minimal-client==0.15.1
examples-rclpy-minimal-publisher==0.15.1
examples-rclpy-minimal-service==0.15.1
examples-rclpy-minimal-subscriber==0.15.1
image-geometry==3.2.1
language-selector==0.1
launch==1.0.4
launch-ros==0.19.4
launch-testing==1.0.4
launch-testing-ros==0.19.4
launch-xml==1.0.4
launch-yaml==1.0.4
logging-demo==0.20.3
louis==3.20.0
lz4==3.1.3+dfsg
message-filters==4.3.2
mpmath==0.0.0
pcl-msgs==1.0.0
pendulum-msgs==0.20.3
pycairo==1.20.1
pycups==2.0.1
PyGObject==3.42.1
python-apt==2.4.0+ubuntu1
python-debian===0.1.43ubuntu1
python-qt-binding==1.1.1
PyYAML==5.4.1
qt-dotgraph==2.2.2
qt-gui==2.2.2
qt-gui-cpp==2.2.2
qt-gui-py-common==2.2.2
quality-of-service-demo-py==0.20.3
rclpy==3.3.7
rcutils==5.1.2
ros2action==0.18.5
ros2bag==0.15.4
ros2cli==0.18.5
ros2component==0.18.5
ros2doctor==0.18.5
ros2interface==0.18.5
ros2launch==0.19.4
ros2lifecycle==0.18.5
ros2multicast==0.18.5
ros2node==0.18.5
ros2param==0.18.5
ros2pkg==0.18.5
ros2run==0.18.5
ros2service==0.18.5
ros2topic==0.18.5
rosbag2-interfaces==0.15.4
rosbag2-py==0.15.4
rosdistro-modules==0.9.0
rosidl-adapter==3.1.4
rosidl-cli==3.1.4
rosidl-cmake==3.1.4
rosidl-generator-c==3.1.4
rosidl-generator-cpp==3.1.4
rosidl-parser==3.1.4
rosidl-typesupport-c==2.0.0
rosidl-typesupport-cpp==2.0.0
rosidl-typesupport-fastrtps-c==2.2.0
rosidl-typesupport-fastrtps-cpp==2.2.0
rosidl-typesupport-introspection-c==3.1.4
rosidl-typesupport-introspection-cpp==3.1.4
rospkg-modules==1.4.0
rqt-action==2.0.1
rqt-bag==1.1.4
rqt-bag-plugins==1.1.4
rqt-console==2.0.2
rqt-graph==1.3.0
rqt-gui==1.1.4
rqt-gui-py==1.1.4
rqt-msg==1.2.0
rqt-plot==1.1.2
rqt-publisher==1.5.0
rqt-py-common==1.1.4
rqt-py-console==1.0.2
rqt-reconfigure==1.1.1
rqt-service-caller==1.0.5
rqt-shell==1.0.2
rqt-srv==1.0.3
rqt-topic==1.5.0
screen-resolution-extra==0.0.0
systemd-python==234
teleop-twist-keyboard==2.3.2
tf2-geometry-msgs==0.25.2
tf2-kdl==0.25.2
tf2-msgs==0.25.2
tf2-py==0.25.2
tf2-ros-py==0.25.2
tf2-tools==0.25.2
topic-monitor==0.20.3
torch==1.13.1+cu116
torchaudio==0.13.1+cu116
torchvision==0.14.1+cu116
ubuntu-advantage-tools==8001
ubuntu-drivers-common==0.0.0
ufw==0.36.1
unattended-upgrades==0.1
usb-creator==0.3.7
xkit==0.0.0
